<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fesco.saashr.dao.InfoMapper">
    <insert id="insert" parameterType="com.fesco.saashr.model.Info" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO info(name, age, score) VALUES(#{name}, #{age}, #{score})
    </insert>
</mapper>