<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fesco.saashr.dao.UserMapper">
    <insert id="insert" parameterType="com.fesco.saashr.model.User" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO sec_user(username, password, person_id) VALUES(#{username}, #{password}, #{personId})
    </insert>
</mapper>